<h1>Bateau</h1>
	<img id=bateau src="https://media.playmobil.com/i/playmobil/70183_product_detail/Bateau%20et%20p%C3%AAcheur?locale=fr-FR,fr,*&$pdp_product_main_xl$&strip=true&qlt=80&fmt.jpeg.chroma=1,1,1&unsharp=0,1,1,7&fmt.jpeg.interlaced=true">

	<p>Description : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut interdum purus, eget vulputate neque. Quisque pharetra mauris at libero facilisis, non hendrerit orci dapibus. Praesent neque nibh, pellentesque et lobortis ut, aliquam sit amet erat. Integer eu mauris eu sapien maximus convallis. Quisque maximus diam vel libero fermentum, vitae bibendum erat scelerisque. In hac habitasse platea dictumst. Mauris sit amet gravida nulla, sed semper sapien. Etiam ut mattis neque, vitae vulputate arcu. Vivamus a magna turpis. Pellentesque vestibulum pharetra quam, eget semper massa sagittis et. Etiam tristique aliquam ultrices. Sed a ex posuere, lacinia turpis eu, tincidunt lectus. Vivamus feugiat ornare mauris. Sed tortor diam, tristique eget commodo ut, eleifend vel sapien.</p>
	<br>
	<p>Sed tellus risus, posuere nec blandit quis, imperdiet id leo. Nunc elementum finibus semper. Quisque imperdiet elementum lorem, at maximus purus congue id. Donec consectetur odio sit amet tempor aliquam. Sed gravida pulvinar urna sit amet fermentum. Praesent porta, dolor quis dictum mollis, nunc mi mollis odio, nec finibus justo massa in mi. Pellentesque eget lectus velit. Nullam ultrices purus turpis, at dignissim ante egestas quis. Duis eget ante sed velit dapibus tincidunt. Maecenas eu rutrum ligula. Vivamus nibh ligula, laoreet vel dolor at, commodo rutrum metus. Donec varius tristique molestie. Sed quis tortor condimentum, placerat mi nec, rutrum tellus. Nam congue finibus velit eget volutpat. Ut eleifend semper fringilla. Aenean nec finibus nisi.</p>

<h1>Secouristes</h1>

	<table>
		<tr>
			<td>Nom</td>
			<td>Prénom</td>
			<td>.....</td>
			<td>.....</td>
			<td>.....</td>
			<td>.....</td>
		</tr>

	</table>



<h1>Sauvés</h1>

	<table>
		<tr>
			<td>Nom</td>
			<td>Prénom</td>
			<td>.....</td>
			<td>.....</td>
			<td>.....</td>
			<td>.....</td>
		</tr>

	</table>
