/* You can add global styles to this file, and also import other style files */

body{
  margin:0;
  min-height:calc(100vh - 300px);
  padding:150px 0;
  display:flex;
  justify-content:center;
  align-items:center;
}
