<div id="container" (click)="onClick()">
  <img src="assets/imgs/deseledLette.png" id="deseledLette" *ngIf="!isOpened">
  <img src="assets/imgs/Santa_Tampon.png" id="tampon" *ngIf="!isOpened">
  <img src="assets/imgs/openedLetter.png" id="opennedLetter" *ngIf="isOpened">
  <div id="text" *ngIf="isOpened">
      <p>Il est très tard, en ce vendredi 3 décembre 2021, par manque de temps et de motivation durant cette longue nuit, nous n'avons pas pu finaliser ce projet auquel nous étions très attachés. Du coup, nous vous proposons une partie de notre idée, même si ce n'est pas le résultat attendu.</p>

      <p>En vous souhaitant de joyeuses fêtes ! <br> L'équipe Les Pap1, IUT de Montpellier.</p>

  </div>
  <img src="assets/imgs/openedLetter%20copy.png" id="oppenedLetterUpside" *ngIf="isOpened">
</div>
