/* You can add global styles to this file, and also import other style files */
@import "styles/base/fonts";

body{
  margin:0;
  background: linear-gradient(0deg, rgba(1,8,83,1) 0%, rgba(2,46,164,1) 29%, rgba(90,156,255,1) 53%, rgba(116,212,247,1) 100%);
  background-position-y:145px;
  min-height:100vh;
  padding-top:0;
}

h1, h2, h3, h4, h5, h6, p, li, input, a{
  font-family: "Glacial Indifference", sans-serif;
}
